<header>
    <div class="grid">
        <div class="row">
            <div class="col col-xs-12">
                <hgroup>
                    <h1><a href="/{{language}}">{{config.title}}</a></h1>
                    <h2>{{config.subhead}}<br />{{config.subhead2}}</h2>
                </hgroup>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12">
                <nav>
                    <ul>
                        {{!-- {{{_inspect .}}} --}}
                        <li style="float: right">
                            {{#is language 'en'}}
                                <span class="current-language">EN</span>
                            {{else}}
                                <a href="/en/{{#if page.en}}{{page.en}}{{else}}index.html{{/if}}">EN</a>
                            {{/is}} |
                            {{#is language 'de'}}
                                <span class="current-language">DE</span>
                            {{else}}
                                <a href="/de/{{#if page.de}}{{page.de}}{{else}}index.html{{/if}}">DE</a>
                            {{/is}}
                        </li>
                        {{#each topbar}}
                            <li {{#is file ../filename}}class="active"{{/is}}>
                                <a href="/{{../language}}/{{file}}">{{title}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
