---
de: profile.html
en: profile.html
---
<div class="profile">

    <h1>{{profile.title}}</h1>

    <div class="row">
        <div class="col col-xs-12 col-lg-8">
            {{{profile.intro}}}
        </div>
        <div class="col col-xs-12 col-lg-4">
            <img src="/assets/img/manuel-portrait-01.jpg"/>
        </div>
    </div>

    <h2>{{profile.work.headline}}</h2>
    <table>
        {{#each work}}
            <tr>
                <td class="cell-01">
                    {{#if endDate}}
                        {{moment startDate format="YYYY-MM" }}–<br />
                        {{moment endDate format="YYYY-MM"}}
                    {{else}}
                        {{../i18n.since}}<br />
                        {{moment startDate format="YYYY-MM" }}
                    {{/if}}

                </td>
                <td class="cell-02">
                    <strong>{{position}}</strong><br />
                    {{company}}, {{location}}
                </td>
            </tr>
        {{/each}}
    </table>

    <h2>{{profile.training.headline}}</h2>
    <table>
        {{#each education}}
            <tr>
                <td class="cell-01">

                    {{moment startDate format="YYYY-MM" }}– <br />

                    {{#if endDate}}
                        {{moment endDate format="YYYY-MM"}}
                    {{else}}
                        {{../i18n.today}}
                    {{/if}}

                </td>
                <td class="cell-02">
                    <strong>{{studyType}}</strong><br />
                    {{institution}}
                </td>
            </tr>
        {{/each}}
    </table>

    <h2>{{{profile.qualifications.headline}}}</h2>
    <ul>
        {{#each qualifications}}
        <li>
            {{.}}
        </li>
        {{/each}}
    </ul>

    <h2>{{profile.skills.headline}}</h2>

    <h3>{{profile.skills.proficient}}</h3>
    <p>
        <strong>{{profile.skills.technical}}:</strong>
        {{#each skills.technical.proficient}}{{.}}{{#unless @last}}, {{/unless}}{{/each}}
    </p>
    <p>
        <strong>{{profile.skills.economical}}:</strong>
        {{#each skills.economic.proficient}}{{.}}{{#unless @last}}, {{/unless}}{{/each}}
    </p>

    <h3>{{profile.skills.intermediate}}</h3>
    <p>
        <strong>{{profile.skills.technical}}:</strong>
        {{#each skills.technical.intermediate}}{{.}}{{#unless @last}}, {{/unless}}{{/each}}
    </p>
    <p>
        <strong>{{profile.skills.economical}}:</strong>
        {{#each skills.economic.intermediate}}{{.}}{{#unless @last}}, {{/unless}}{{/each}}
    </p>

    <h3>{{profile.skills.basic}}</h3>
    <p>
        <strong>{{profile.skills.technical}}:</strong>
        {{#each skills.technical.basic}}{{.}}{{#unless @last}}, {{/unless}}{{/each}}
    </p>
    <p>
        <strong>{{profile.skills.economical}}:</strong>
        {{#each skills.economic.basic}}{{.}}{{#unless @last}}, {{/unless}}{{/each}}
    </p>

</div>
